/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */
.myclass{
z-index : 99999;
text-align: center;
}

.button1111 {

  height: 3em;
  width: 10em;
  
  border-radius: 1em;
  
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  
  /* padding defines the width of the red gradient background (2) */
  padding: .25em;

  /* border-width defines the width the blue gradient background (3) */
  border: .25em solid transparent;

  background: 
    /* (1) most inner gradient */
    linear-gradient(to bottom, #fff, #bbb) content-box,
    /* (2) red gradient */
    linear-gradient(to right, #e94332, #a91302) padding-box,
    /* (3) blue gradient */
    linear-gradient(to right, #0867a6, #4aa9e8) border-box;


    position: absolute;
    top: 50%;
    left: 45%;
}

.h21111 {
    position: absolute;
    top: 50%;
}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


/*#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(8, 6, 17);  
    left: 0px;
    top: 0px;
}
*/

#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}







@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

body {
  text-align: center;
  background: #ecf0f1;
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0,1.0);
  filter: blur(20px);
  -webkit-filter: blur(20px);
  z-index: -1;
  opacity: 0.6;
}

.profile-card {
  margin: 150px auto;
  width: 300px;
  background: #0000FF;
  border: 5px solid white;

   position: absolute;
   top: 10px;
/*   left: 500px;
*/
   /* top: 30%;*/
    left: 37%;
}

.profile-card:after {
  position: absolute;
  top: 100px;
  right: 0;
  margin-left: -85px;
  bottom: 0;
  left: 50%;
  content: '';
  height: 170px;
  width: 170px;
  background: white;
  border-radius: 50%;
  z-index: -1;
}

header img {
  height: 150px;
  width: 150px;
  margin-top: -50px;
  border-radius: 50%;
  border: 5px solid #c0392b;
}

h1, h2 {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-family: "Kaushan Script",cursive;
  padding: 5px 0 0 0;
  color: white;
}

h2 {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  color: #FF6347;
  font-weight: normal;
}

.profile-bio {
  background: #c0392b;
  display: block;
  overflow: hidden;
  height: 0;
  transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  -ms-transition: .3s all ease-in-out;
}

.profile-card:hover .profile-bio, .profile-card p{
  height: 120px;
  display: visible;
}

.profile-card p {
  margin: 0 0 20px 0;
  padding: 20px 20px 40px 20px;
  color: white;
  text-align: justify;
  font-family: sans-serif;
}

.profile-social-links {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, .7);  
  background: url('https://subtlepatterns.com/patterns/perforated_white_leather.png');
  background-size: 50%;
  background-color: white;
  margin: 0;
  padding: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

ul li {
  display: inline-block;
  transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  -ms-transition: .3s all ease-in-out;
}

ul img {
  height: 35px;
  width: 35px;
  padding: 20px 25px;
  filter: drop-shadow(5px 5px 5px grey);
  -webkit-filter: drop-shadow(5px 5px 5px grey);
}

ul img:hover {
  transform: scale(1.2);
}




.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}